.board {
  .container {
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    &.gu-transit {
      background-color: #0c5593;
    }
    .user{
      i{
        margin: 0 5px;
      }
    }
    .block-friends {
      margin: 5px;
      padding: 5px;
      background-color: white;
      .block-friend {
      }
    }
  }
}



